<style link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</style>
<ul>
  <li *ngFor="let list of message ">
    <p #name> {{list.For}}</p>
    <p #title>{{list.title}}</p>
    <p><img style="height: 250px; width: 250px; " src={{list.image}}></p>
    <button class="btn btn-dark" (click)="addto(list.title,list.price)">
      <h6 class="material-icons">Add To Cart</h6>
    </button>
    <!-- <button class="btn btn-dark" (click)="onDecrement(detail)">
      <h6 class="material-icons">remove</h6>
    </button> -->
      
  </li>
  <!-- <p>{{cartadd[0].price}}</p>
  <p>{{cartadd[0].title }}</p> -->
     <app-cartfunctions ></app-cartfunctions>

</ul>
